@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard;
}

/* 메인 컨텐츠의 최대 넓이 설정 */
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

@keyframes upDown {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
